@import '../../abstracts/variables.scss';

.header{
    background-color: $dark-blue-main;
    padding: 16px 24px;
    font-size: 13px;
    display: flex;
    align-items: center;
    color: #F2F4FE;

    &__label{
        position: relative;

        span{
            cursor: pointer;
        }
    }

    @media screen and (min-width: 768px) {
        width: 689px;
        margin: 0 auto;
        border-radius: 10px;
        font-size: 14px;
        padding: 14px 12px 14px 24px;
    }

    &__select{
        background-color: inherit;
        color: #F2F4FE;
        font-weight: 700;
        font-family: 'Jost', sans-serif;
        font-size: 13px;
        border: none;

        @media screen and (min-width: 768px) {
            font-size: 14px;
        }

        option{
            background-color: white;
            color: #647196;
        }
    }

    &__btn{
        margin-left: auto;
        padding: 11px 16px;
        border-radius: 10px;
        background-color: $purple-main;
        text-decoration: none;
        font-weight: 700;
        font-family: 'Jost', sans-serif;
        border: none;
        color: #F2F4FE;
        transition: background-color .4s;
        cursor: pointer;

        &:hover{
            background-color: $purple-main-hover;
        }

        @media screen and (min-width: 768px) {
            padding: 12px 25px;
            font-size: 14px;
        }
    }
}

.header__suggestions{
    @media screen and (max-width: 767px) {
        display: none;
    }

    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        gap: 16px;
        margin-right: 38px;
    }

    &-title{
        font-size: 18px;
        font-weight: 700;
        min-width: 140px;
    }
}

.header__select-arrow{
    transition: rotate .2s;
    margin-left: 6px;

    &_active{
        rotate: -180deg;
    }
}