@import '../../../components/abstracts/variables.scss';

.aside{
    position: relative;
    display: flex;

    @media screen and (min-width: 768px) {
        width: 689px;
        padding-top: 56px;
        padding-bottom: 40px;
        gap: 10px;
        margin: 0 auto;
        background-color: $darker-light;
    }

    @media screen and (min-width: 1440px) {
        flex-direction: column;
        align-items: center;
        width: 255px;
        padding: 0;
    }
    
    &__info{
        display: flex;
        flex-direction: column;
        background: radial-gradient(128.88% 128.88% at 103.9% -10.39%, #E84D70 0%, #A337F6 53.09%, #28A7ED 100%);
        background-size: cover;
        padding: 15px 24px;
        color: white;
        
        @media screen and (max-width: 767px) {
            width: 100%;
        }
        
        @media screen and (min-width: 768px) {
            padding: 24px;
            width: 223px;
            height: 178px;
            border-radius: 10px;
            justify-content: end;
        }
        
        @media screen and (min-width: 1440px) {
            width: 100%;
            height: 137px;
        }
    }

    .title{
        font-size: 15px;
        color: white;

        @media screen and (min-width: 768px) {
            font-size: 20px;
        }
    }

    .subtitle{
        font-size: 13px;
        opacity: .75;

        @media screen and (min-width: 768px) {
            font-size: 15px;
        }
    }

    &__btn-container{
        display: none;
    }

    @media screen and (max-width: 767px) {
        &__btn-container{
            display: unset;
            border: none;
            background-color: inherit;
            padding-bottom: 17px;
            position: absolute;
            right: 16px;
            top: 25px;
            cursor: pointer;
        }
    
        &__btn{
            height: 3px;
            width: 20px;
            background-color: white;
            border: none;
            box-shadow: 0 7px 0 0 white,
                        0 14px 0 0 white;
        }
    }
}


.aside.aside_active{
    z-index: 10;

    .aside__container{
        @media screen and (max-width: 767px) {
            visibility: visible;
        }
    }
}

.aside__container{
    margin-left: auto;
    background-color: #F7F8FD;
    
    @media screen and (max-width: 767px) {
        padding-top: 24px;
        position: absolute;
        visibility: hidden;
        right: 0;
        top: 100%;
        height: 100vh;
        width: 271px;
    }

    @media screen and (min-width: 768px) {
        display: flex;
        gap: 10px;
        height: 178px;
        justify-content: space-between;
    }

    @media screen and (min-width: 1440px) {
        flex-direction: column;
        margin: 0;
    }
}

.aside__element{
    background-color: white;
    padding: 24px 18px 36px 24px;
    border-radius: 10px;
    
    @media screen and (max-width: 767px) {
        margin: 24px;
        margin-top: 0;
    }
    
    @media screen and (min-width: 768px) {
        width: 223px;
    }

    @media screen and (min-width: 1440px) {
        width: 100%;
    }
}

.aside__tags{
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 8px;
    row-gap: 14px;
    list-style: none;

    &-item{
        background-color: $light-main;
        padding: 6px 16px;
        font-weight: 600;
        flex-shrink: 0;
        border-radius: 10px;
        color: $blue-main;
        transition:  background-color .4s, color .4s;
        cursor: pointer;

        &:hover{
            background-color: $light-main-hover;
        }

        &_active{
            color: white;
            background-color: $blue-main;
            
            &:hover{
                background-color: lighten($blue-main, 5%);
            }
        }
    }
}

.roadmap__header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;

    .title{
        font-size: 18px;
        color: $text-color;
    }
}

.roadmap__btn{
    color: $blue-main;

    &:hover{
        text-decoration-line: underline;
    }

    &:visited{
        color: $blue-main;
    }
}

.roadmap__list{
    display: flex;
    flex-direction: column;
    list-style: none;
}

.roadmap__item{
    display: flex;
    color: #647196;
    text-transform: capitalize;

    &::before{
        content: '';
        width: 8px;
        height: 8px;
        border-radius: 50%;
        align-self: center;
        margin-right: 16px;
    }

    &:first-child{
        &::before{
            background-color: #F49F85;
        }
    }
    
    &:nth-child(2){
        &::before{
            background-color: #AD1FEA;
        }
    }
    &:last-child{
        &::before{
            background-color: #62BCFA;
        }
    }

    span{
        margin-left: auto;
        font-weight: 700;
    }
}
