.error-heading{
    font-size: 30px;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.error-image{
    display: block;
    width: 400px;
    margin: 0 auto;
}