$purple-main: #AD1FEA;
$purple-main-hover: #C75AF6;
$blue-main: #4661E6;
$blue-main-hover: #7C91F9;
$dark-blue-main: #373F68;
$dark-blue-main-hover: #656EA3;
$red-main: #D73737;
$red-main-hover: #E98888;
$light-main: #F2F4FF;
$light-main-hover: #CFD7FF;
$darker-light: #F7F8FD;
$text-color: #3A4374;