@import '../abstracts/variables.scss';

.page__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page_feedback{
    padding-top: 80px;
    max-width: 689px;

    @media screen and (min-width: 1440px) {
        max-width: 730px;
    }

    .form__btn:not([type='submit']){
        background-color: $blue-main;

        &:hover{
            background-color: $blue-main-hover;
        }
    }
}

.body_page{
    background-color: transparent;
    padding: 0;
    margin-top: 24px;
}

.feedback__card_separate{
    width: 100%;
}

.comment-form{
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: 16px;
    border-radius: 10px;
    padding: 24px;
    margin-top: 24px;

    @media screen and (min-width: 768px) {
        padding: 34px;
    }
}

.title{
    font-weight: 700;
    font-size: 18px;
    letter-spacing: -.25px;
}

.text-sub{
    @media screen and (min-width: 1440px) {
        font-size: 15px;
    }
}

.form__input{
    resize: none;

    @media screen and (min-width: 1440px) {
        font-size: 15px;
    }
}

.form-footer-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comments{
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-radius: 10px;
    margin-top: 24px;
    padding: 24px;

    @media screen and (min-width: 768px) {
        padding: 32px;
    }
}

.comment{
    position: relative;

    &:not(:last-child){
        padding-bottom: 24px;    

        &::after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 1px;
            background-color: #8C92B3;
            opacity: .25;
        }
    }
    
    &__header{
        display: flex;
        justify-content: space-between;
    }

    &__info{
        display: flex;
        align-items: center;
        gap: 16px;

        @media screen and (min-width: 768px) {
            gap: 32px;
        }

        &-avatar{
            width: 40px;
            height: 40px;
            object-fit: cover;
            border-radius: 50%;
        }

        &-username{
            font-size: 13px;
            font-weight: 700;
            letter-spacing: -.2;

            @media screen and (min-width: 768px) {
                font-size: 14px;
            }
        }
        
        &-tag{
            font-size: 13px;

            @media screen and (min-width: 768px) {
                font-size: 14px;
            }
        }
    }

    &__reply{
        border: none;
        background-color: transparent;
        color: $blue-main;
        cursor: pointer;
        font-weight: 600;

        &:hover{
            color: $blue-main-hover;
        }
    }

    &__text{
        margin-top: 16px;

        @media screen and (min-width: 768px) {
            padding-left: 72px;
            font-size: 15px;
        }
    }
}

//вложенные комментарии

.comments__tree{
    position: relative;
    padding-left: 24px;
    margin-top: 24px;

    @media screen and (min-width: 768px) {
        padding-left: 45px;    
    }
    
    &::before{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 30%;
        width: 1px;
        background-color: #647196;
        opacity: .2;

        @media screen and (min-width: 768px) {
            top: -100px;
            left: 20px;
        }
    }

    .comment{
        &::after{
            display: none;
        }
    }
}